videos
/isaacgymenvs/logs
*train_dir*
*wandb*
*ige_logs*
*.egg-info
/.vs
/.vscode
/_package
/shaders
._tmptext.txt
__pycache__/
/isaacgymenvs/tasks/__pycache__
/isaacgymenvs/utils/__pycache__
/isaacgymenvs/tasks/base/__pycache__
/tools/format/.lastrun
*.pyc
_doxygen
/rlisaacgymenvsgpu/logs
/isaacgymenvs/benchmarks/results
/isaacgymenvs/simpletests/results
*.pxd2
/tests/logs
/isaacgymenvs/balance_bot.xml
/isaacgymenvs/quadcopter.xml
/isaacgymenvs/ingenuity.xml
logs*
nn/
runs/
.idea
outputs/
*.hydra*
/isaacgymenvs/wandb
runs*
*.npy
constraints-as-terminations-logs-and-runs.tar.zst
job.*.out
job.*.err
sim2real/build
sim2real/build.log
sim2real/tracy-profiles
sim2real/ros2_ws/**/build
sim2real/ros2_ws/**/install
sim2real/ros2_ws/**/log
