wandb
toml
rich
memory-profiler
PyQt5
tensorboard
pandas
numpy==1.26.0
zarr==3.1.5
scipy
scikit-learn
statsmodels
matplotlib
seaborn
tqdm
SciencePlots
zmq
rosbags
tensordict
rsl-rl-lib=5.4.2
# Use the below for older baseline runs, or in case any errors related to rsl-rl-lib come up
#rsl-rl-lib==3.1.2
